
Try this short URL =&gt; 
%a{:href => "/#{@short_url}"}="http://c1c.me/#{@short_url}"
%br/
%br
%form{:name => "prompt4post_form", :action => "/posts/redirect_user_guess", :method => "get"}
  Or, think of a short URL =&gt;
  http://c1c.me/
  %input{:name => "a_short_url"}
  %input{:value => "Try it",:type => "submit"}
